@charset "UTF-8";

body{
   font-family: '맑은 고딕', sans-serif;
}
.site h1{
   font-family: 'Rammetto One', cursive;
}
.site h1 a{
   color: black;
   text-decoration: none;
}

.menu ul{
   margin: 0;
   padding: 0;
   list-style:none;
}
.menu ul li{
   float: left;
   width: auto;
}
.menu ul li a{
   display: block;
   padding: 5px;
   color: black;
   font-size: 14px;
   text-decoration: none;
}
.menu ul li a:hover{
   background-color: green;
}
.menu ul:after{
   content:"";
   display: block;
   clear: both;
}
/*blog*/
.blog h1{
   margin-top: 0;
   margin-bottom: 20px;
   font-size: 36px;
}
.blog p{
   margin-top: 0;
   margin-bottom: 20px;
}

.blog img{
   max-width: 100%;
   height: auto;
}

/*side*/
.sidemenu{
   margin-bottom: 30px;
}

.sidemenu h1{
   margin-top: 0;
   margin-bottom: 10px;
   margin-bottom: dotted 2px #ddd;
   color: #666;
   font-size: 18px;
}
.sidemenu ul{
   margin: 0;
   padding: 0;
   list-style: none;
}

.sidemenu li a{
   display: block;
   padding: 5px;
   color: black;
   font-size: 14px;
   text-decoration: none;
}
.sidemenu li a:hover{
   background-color: #eee;
}

/*recommend*/
.recommend{
   margin-bottom: 30px;
}

.recommend h1{
   margin-top: 0;
   margin-bottom: 10px;
   margin-bottom: dotted 2px #ddd;
   color: #666;
   font-size: 18px;
}
.recommend ul{
   margin: 0;
   padding: 0;
   list-style: none;
}

.recommend li a{
   display: block;
   padding: 5px;
   color: black;
   font-size: 14px;
   text-decoration: none;
}
.recommend li a:hover{
   background-color: #eee;
}

/*copyright*/
.copyright p{
   margin: 0;
   color: #666;
   font-size: 14px;
}


.blogcat ul{
   margin: 0;
   padding: 0;
   list-style:none;
}
.blogcat ul li{
   float: left;
   width: auto;
}
/*.blogcat ul li a{
   margin-right: 5px;
   display: block;
   padding: 5px;
   color: black;
   border: 2px solid red;
   border-top-left-radius: 300px 100px;
   border-top-right-radius: 300px 100px;
   border-bottom-right-radius: 300px 100px;
   border-bottom-left-radius: 300px 100px;
   font-size: 14px;
   text-decoration: none;
}*/

.blogcat ul:after{
   content:"";
   display: block;
   clear: both;
}

.blogcat li a{
   display:block;
   margin-right: 5px;
   padding: 3px 5px;
   border-radius: 2px;
   background-color: blue;
   color: white;
   font-size: 12px;
   text-decoration: none;
}
.share ul{
   margin: 0;
   padding: 0;
   list-style:none;
}
.share ul li{
   float: left;
   width: 33.3%;
}

.share li a{
   text-align: center;
   margin-bottom: 2px;
   color: white;
   display:block;
   padding: 3px 5px;
   font-size: 12px;
   text-decoration: none;
}

.share li .twitter{
   background-color: rgb(82, 163, 238)
}
.share li .facebook{
   background-color: rgb(28, 43, 179)
}
.share li .google{
   background-color: rgb(241, 91, 45)
}
@media (min-width:768px){
   .main{
      float: left;
      width: 70%;
   }
   .aside{
      float: left;
      width: 30%;
   }
   .center:after{
      content: "";
      display: block;
      clear: both;
   }
}