@charset "UTF-8";

body{
   font-family: '맑은 고딕', sans-serif;
}
.site h1{
   font-family: 'Rammetto One', cursive;
}
.site h1 a{
   color: black;
   text-decoration: none;
}

.menu ul{
   margin: 0;
   padding: 0;
   list-style:none;
}
.menu ul li{
   float: left;
   width: auto;
}
.menu ul li a{
   display: block;
   padding: 5px;
   color: black;
   font-size: 14px;
   text-decoration: none;
}
.menu ul li a:hover{
   background-color: green;
}
.menu ul:after{
   content:"";
   display: block;
   clear: both;
}