<!doctype html>
<html lang="ko" ng-app>
<head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Angular demo</title>
<link rel="stylesheet" href="css/bootstrap.min.css"/>
<script src="jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<style>
</style>
</head>
<body> 
      <header style="background-color:grey">Header</header>
      <div class="container">
            <div ng-app="myApp">
                  <form>
                     <p><input type="text" ng-model="x"></p>
                     <p><input type="text" ng-model="y"></p>
                     <p>{{x}} vs {{y}}:{{(x > y) ? x : y}} is big</p>
                     <p>{{12345678|number}}</p>
                     <p>{{12345678|currency}}</p>
                     <p>{{12345678|currency:"&yen;"}}</p>
                     <p>{{12345678|currency:"&#8361;"}}</p>
                     <p>{{'2018-01-30T14:31:00'|date}}</p>
                     <p>{{'2018-01-30T14:31:00'|date:"yyyy/MM/dd HH:mm:ss"}}</p>
                     <p>{{[1,2,3,4]|limitTo:3}}</p>
                     <p>{{[5,2,4,1,3]|orderBy}}</p>
                     <p>{{[5,2,4,1,3]|orderBy:"":true}}</p>
                    <!-- <p><input type="text" ng-model="yourName"/></p>
                     <p>Hello {{yourName}}!</p>-->
                  </form>
            </div>
      </div>
      <footer style="background-color:grey">Footer</footer>
</body>
</html>